<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <application
        android:name=".application.MeetFriend"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label,allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".ui.music.TrimMusicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.music.AddMusicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.camerakit.SnapEditorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.story.StoryInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewAppTheme" />
        <activity
            android:name=".ui.redeem.history.RedeemHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dual.DualCameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.monetization.SelectTaskActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.monetization.earnings.EarningsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewAppTheme" />
        <activity
            android:name=".ui.monetization.HubRequestFormActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.monetization.NewMonetizationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.helpnsupport.SendFeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.helpnsupport.HelpFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.helpnsupport.HelpNSupportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.challenge.ChallengeReplyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.challenge.ChallengeDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.challenge.AddNewChallengeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.hashtag.HashTagListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewAppTheme" />

        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />
        <uses-native-library
            android:name="libOpenCL-pixel.so"
            android:required="false" />

        <activity
            android:name=".ui.tag.TaggedUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mygifts.GiftsTransactionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewAppTheme" />
        <activity
            android:name=".ui.coins.CoinPlansActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.giftsGallery.GiftsGalleryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.messages.create.CreateMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.SearchListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.messages.MessageListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.suggestion.UserSuggestionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewAppTheme" />
        <activity
            android:name=".ui.follow.request.FollowRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.more.blockedUser.BlockedUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shorts.PostCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newbase.view.cropper.CropImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.create.croppostimages.CropPostImagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.cropimage.ImageCropActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shortdetails.ShortDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.follow.ProfileFollowingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.TagPeopleListActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.myprofile.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.myprofile.MyProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.main.story.AddStoryActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.main.MainHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewAppTheme"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.location.AddLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.create.AddNewPostInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.home.create.AddNewPostActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.livestreaming.watchlive.WatchLiveStreamingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.livestreaming.videoroom.LiveRoomActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.livestreaming.LiveStreamingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.chat.onetoonechatroom.ViewVideoMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.onetoonechatroom.ViewOneToOneChatRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chatRoom.videoCall.OneToOneVideoCallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chatRoom.subscription.SubscriptionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chatRoom.notification.ChatRoomNotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chatRoom.profile.ViewUserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chatRoom.ChatRoomInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chatRoom.profile.OtherUserFullProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chatRoom.create.CreateRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.chatRoom.roomview.ViewChatRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.chatRoom.profile.ChatRoomProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chatRoom.ChatRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.storywork.StoryDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.CallLauncherActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <activity
            android:name=".ui.activities.CallendedActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AudioCallActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:showWhenLocked="true" />
        <activity
            android:name=".ui.activities.VideoCallActivity"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:showWhenLocked="true"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.VideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:launchMode="singleInstance"
            android:turnScreenOn="true"
            tools:targetApi="o_mr1" />
        <activity
            android:name=".ui.activities.FullScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <data
                    android:host="meeturfriends.com"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8787848622927672~1009868102" />

        <activity
            android:name=".ui.challenge.CreateChallengeActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.SettingActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <provider
            android:name=".utilclasses.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".utilclasses.MyFcmListenerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".utilclasses.ActionReceiver" />
        <receiver android:name=".utilclasses.MyBroadcastReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".utilclasses.MyFcmListenerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".utilclasses.ActionReceiver" />
        <receiver android:name=".utilclasses.MyBroadcastReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/places_api_key" />

        <service
            android:name=".utilclasses.download.DownloadService"
            android:enabled="true" />

        <activity
            android:name=".ui.camerakit.SnapkitActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.camerakit.SnapPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <meta-data
            android:name="com.snap.camerakit.app.id"
            android:value="9b5906c5-065c-4a8f-94d5-0e4f966e2bcf" />
        <meta-data
            android:name="com.snap.camerakit.api.token"
            android:value="eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNzIxODEyODU1LCJzdWIiOiI5YjU5MDZjNS0wNjVjLTRhOGYtOTRkNS0wZTRmOTY2ZTJiY2Z-U1RBR0lOR35jOTQ3Yjc1MC1iMmM5LTRlNjItOTE0Yi03N2VlZmNlNGJhMzQifQ.OX5rj9VPADugN5CJWNC3Is1NvXxMFxaRXkab1o4iXcw" />
    </application>

</manifest>